@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?md4ptt");
  src: url("../fonts/icomoon.eot?md4ptt#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?md4ptt") format("truetype"), url("../fonts/icomoon.woff?md4ptt") format("woff"), url("../fonts/icomoon.svg?md4ptt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.eot");
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirBook";
  src: url("../fonts/AvenirBook.eot");
  src: url("../fonts/AvenirBook.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirBook.woff2") format("woff2"), url("../fonts/AvenirBook.woff") format("woff"), url("../fonts/AvenirBook.ttf") format("truetype"), url("../fonts/AvenirBook.svg#AvenirBook") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "";
  font-size: 7px;
  font-weight: bolder;
}

.icon-printer:before {
  content: "";
}

.icon-disabled:before {
  content: "";
}

.icon-disabled {
  font-size: 30px;
}

.icon-share:before {
  content: "";
}

.icon-infos:before {
  content: "";
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header, .form .trip-passengers_content .passengers-left .passengers-labels,
.form .trip-passengers_content .passengers-left .passengers-options, .form_footer {
  display: flex;
  flex-direction: column;
}

.header_top, .header_bottom, .form-stations, .form-dates, .form .trip-passengers_content .passengers-content, .form .trip-passengers_top, .form .trip-inputs .inputs-item .date-content, .form .trip-inputs .route-informations .direct-route, .form .trip-inputs .route-informations, .form-text, .form_footer-actions {
  display: flex;
  justify-content: space-between;
}

.mandatory:after {
  content: " *";
}

label {
  user-select: none;
}

.title {
  text-transform: uppercase;
}

.h1 {
  font-size: 50px;
}

.h2 {
  font-size: 25px;
}

p,
label,
h1,
h2,
h3,
h4 {
  font-family: "Avenir-Medium";
  font-weight: lighter;
}

.red, .form .trip-passengers_content .passengers-top .title, .form_footer .dropdown-pets-infos .icon-right-arrow, .btn-print i:before, .btn-share i:before, .btn-grey, .btn.link-arrow {
  color: #cc0044;
}

.white, .btn-red {
  color: #fff;
}

.grey {
  color: #f1f1f1;
}

.dgrey, .header-breadcrumb li a, .form_content .round-trip-checkbox, .form {
  color: #919191;
}

.black, .icon-disabled {
  color: #3e4044;
}

.bg-red {
  background: #cc0044;
}

.bg-grey, .form .trip-passengers_content, .form_content .round-trip-checkbox {
  background: #f1f1f1;
}

.bg-dgrey {
  background: #919191;
}

.bg-black {
  background: #3e4044;
}

.btn {
  display: inline;
  border: none;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn:focus {
  outline: none;
}
.btn.link-arrow {
  text-transform: uppercase;
  position: relative;
  height: 21px;
}
.btn.link-arrow .icon-right-arrow {
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
}
.btn.link-arrow:hover .icon-right-arrow {
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.btn.link:hover {
  text-decoration: underline;
}
.btn-primary {
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid;
}
.btn-red {
  border-color: #cc0044;
  background: #cc0044;
  background: linear-gradient(0deg, #7c0029 0%, #cc0044 57%);
}
.btn-grey {
  border-color: #919191;
  background: #f1f1f1;
  background: linear-gradient(0deg, #f1f1f1 0%, #fff 57%);
}
.btn-print i:before, .btn-share i:before {
  width: 35px;
  height: 35px;
  font-size: 20px;
}

.form {
  padding: 0 20px;
}
.form input[type=text] {
  padding: 5px 10px;
}
.form_header {
  padding: 20px 0;
}
.form_header .disabled-text {
  display: flex;
  align-items: center;
}
.form_footer {
  width: 100%;
  padding: 20px 0;
}
.form_footer-actions {
  margin: 50px 0 20px 0;
}
.form_footer .link-arrow {
  text-align: right;
}
.form_footer .dropdown-pets-infos {
  user-select: none;
  cursor: pointer;
}
.form-text {
  margin-bottom: 15px;
}
.form_content .round-trip-checkbox {
  padding: 10px;
}
.form-mandatory {
  font-style: italic;
}
.form .trip-inputs {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
}
.form .trip-inputs .inputs-wrapper:not(:last-child) {
  margin-bottom: 20px;
}
.form .trip-inputs .route-informations {
  align-items: center;
}
.form .trip-inputs .inputs-item {
  flex: 1 auto;
}
.form .trip-inputs .inputs-item:nth-child(1) {
  padding-right: 30px;
}
.form .trip-inputs .inputs-item .date-content input {
  width: 50%;
}
.form .trip-confort {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
}
.form .trip-confort-option {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.form .trip-confort-option input {
  margin-right: 10px;
}
.form .trip-passengers {
  padding: 20px 0 30px 0;
  border-bottom: 1px solid #919191;
}
.form .trip-passengers_top {
  padding-bottom: 15px;
  width: 100%;
}
.form .trip-passengers_top .passengers-count {
  display: flex;
}
.form .trip-passengers_top .passengers-count .title {
  margin-right: 20px;
}
.form .trip-passengers_content {
  padding: 20px;
}
.form .trip-passengers_content .passengers-top {
  padding-bottom: 10px;
  border-bottom: 1px solid #919191;
}
.form .trip-passengers_content .passengers-content {
  padding: 20px 0 10px 0;
}
.form .trip-passengers_content .passengers-left, .form .trip-passengers_content .passengers-right {
  display: flex;
  width: 50%;
}
.form .trip-passengers_content .passengers-left label {
  padding: 0;
}
.form .trip-passengers_content .passengers-left .passenger-label:not(:last-child),
.form .trip-passengers_content .passengers-left .option-select:not(:last-child) {
  margin-bottom: 15px;
}
.form .trip-passengers_content .passengers-left .passengers-options {
  margin-left: 10px;
}
.form .trip-passengers_content .passengers-left .passenger-option:not(:last-child) {
  margin-bottom: 15px;
}
.form .trip-passengers_content .passengers-right {
  align-items: center;
  justify-content: flex-end;
}
.form .trip-passengers_content .passengers-right .custom-input-coupon {
  position: relative;
}
.form .trip-passengers_content .passengers-right .custom-input-coupon .form-input-text {
  margin-left: 25px;
  padding-right: 70px;
}
.form .trip-passengers_content .passengers-right .custom-input-coupon::before {
  font-family: "icomoon";
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 25px;
  transform: translateY(-50%);
}
.form-stations .station-option {
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 10px;
}
.header_top, .header_bottom {
  width: 100%;
  padding: 0 20px;
}
.header_top {
  padding-top: 10px;
}
.header_bottom {
  border-bottom: 1px solid #f1f1f1;
}
.header-breadcrumb {
  list-style: none;
}
.header-breadcrumb li {
  display: inline;
}
.header-breadcrumb li a {
  text-decoration: none;
}
.header-breadcrumb li a:hover {
  text-decoration: underline;
}
.header-breadcrumb li:last-child::after {
  content: " /";
}
.header-breadcrumb li + li:before {
  content: "/ ";
}
.header-action {
  display: flex;
}
.header-action a {
  display: inline;
}

html {
  font-family: "Avenir-Medium";
}

/*# sourceMappingURL=index.css.map */
