.header {
    @extend %flexCol;
    padding-top: 10px;
    &_top,
    &_bottom {
        width: 100%;
        @extend %flexBetween;
        padding: 0 20px;
    }
    &_top{
        padding-top: 10px;

    }
    &_bottom {
        border-bottom: 1px solid $primary-grey;
    }
    &-breadcrumb {
        list-style: none;
        li {
            display: inline;
            a {
                @extend .dgrey;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child::after {
                content: "\00a0/";
            }
        }
        li + li:before {
            content: "/\00a0";
        }
    }
    &-action {
        display: flex;
        a {
            display: inline;
        }
    }
}
